.article {
  background-color: var(--hight-gray);
  display: grid;
  grid-template-rows: max-content;
  margin-bottom: var(--gap);
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

.img img {
  width: 100%;
  height: auto;
}

.info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  padding: var(--gap);
  row-gap: var(--gap);
  align-items: center;

}

.name {
  color: var(--base-color);
  justify-self: start;
  font-size: 2.4rem;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

.price {
  justify-self: end;
  font-weight: bold;
  color: var(--secondary-one);
  font-size: 1.6rem;
}

.desc {
  grid-column: span 2;
  text-align: left;
}

.order {
  text-align: left;
  font-weight: bold;
  padding: var(--gap) 0;
}

/*******************************************************************
/* Desktop */


@media screen and (min-width: 1024px) {
  .article {
    max-width: 265px;
    display: grid;
    grid-template-rows: max-content;
    border-radius: var(--gap) var(--gap) 0 0;
    overflow: hidden;
  }
}